<!DOCTYPE html> 
<html >

<head>
{% load static %}
    <script src="{% static 'js/uploadpage.js' %}"></script>
    <link rel='stylesheet' type="text/css" href="{% static '/css/base.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static '/css/index.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static '/css/home.css' %}">
    
    <link href="{% static '../static/fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'icon/Capture.JPG' %}">
    <title>CropX</title>
</head>

<body >

    <ul class="ulheader">
        <li class="liheader"><a class="aheader" href="{% url 'upload-image-page' %}">ادیت<i class="fa fa-pen-to-square"></i></a></li>
        <li class="liheader"><a class="aheader" href="{% url 'home' %}">صفحه اصلی<i class="fa fa-house"></i></a></li>
    </ul>

{% block content %}

{% endblock content %}



</body>

</html>