{% extends "html/base.html" %}


{% block content %}   
    <div class="main">
        <form id='imform' action="{% url 'extracting-images-page' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="upload images " class="label-up">Upload TIFF Image format</label>
            
            <div class="input-group mb-3">
        
                <div class="custom-file">
                    <input type="file" class="custom-file-input " id="inputGroupFile01" name="tiff-image" accept=".tiff,.tif"  >
                    <label class="custom-file-label" for="inputGroupFile">فایل انتخاب کنید</label>
                </div>
            </div>
            <div class="prefersaving">
                <p>Choise how to save extracted images:</p>
                <label class="pngprefer">PNG</label>
                <input type="radio" name="preferinput" value="PNG" checked="checked">

                <label class="jpegprefer">JPEG</label>
                <input type="radio" name="preferinput" value="JPEG">
            </div>
            <button id='submitbtn' type="submit">Submit</button>
            <p id="loadingmsg" style="display: none;"> ..:: Proccesing ::..</p>
        </form>
    </div>
    
{% endblock content %}
