body {
    margin:  0;
    padding: 0;

}


h2 {
    text-align: center;
}






.container-images {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



.container-images .images-list {
    margin: 10px;
}

.container-images .images-list img {
    filter: grayscale(100%);
    opacity: 0.3;
}


.container-images::-webkit-scrollbar {
    display: none;
}




.container-images .images-list .active{
    filter: grayscale(0%);
    opacity: 1;
}


.container-images .images-list:hover img {
    filter: grayscale(0%);
    opacity: 1;
}








.prev-next {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.navi {
    width: 250px;
    margin: 25px;
    border: none;
    padding: 10px;
    border-radius: 16px;
    font-weight: bold;
    color: rgb(97, 97, 97);
}



.navi:hover{
    background-color: #d1d1d1;
    color: black;
    transition: all;
    transition-duration: 150ms;
    transition-delay: 350ms;
}







.imgsbtndiv{
    width: 100%;
    align-items: center;
    justify-content: center;  
}

.funbtns {
    width: 250px;
    margin: 25px;
    border: none;
    padding: 10px;
    border-radius: 16px;
    font-weight: bold;
    color: rgb(87, 87, 87);
    background-color: #d1d1d1;
}
















.btn-light{
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}


.btn-light:hover{
    color: white;
    background-color: black;
    border-radius: 0;
    transition: all;
    transition-delay: 150;
    transition-duration: 150ms;
}

.btnligth-div {
    display: flex;
    justify-content: space-evenly;
}

.back-showimages {
    text-decoration: none;
    color:black
}

.back-showimages:hover{
    color: white;
}
.back-btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}